node_modules/
build/
cache/
bin/
.vscode/

scripts/deploy_info
scripts/deploy_info.zip

.env
node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Mac files
.DS_Store
